#header {
    height: 65px;
    text-emphasis: emp;
}

.level-item {
    vertical-align: middle;
}

.title {
    font-size: 50pt;
}

#links {
    margin: 15px;
}

.hero {
    background-color: #22B573;
}

#homebutton{
    background-color: #29ABE2;
    color: #29ABE2;
}
