#login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #F7F7F7;
  
}
#login .login-card {
  background: #fff;
  width: 24rem;
  box-shadow: 0 0 7px 0 #29ABE2;
  -moz-border-radius: 5px;
  border-radius: 10px; 
}
#login .login-card .card-title {
  background-color: #29ABE2;
  padding: 2rem;
  -moz-border-radius: 5px;
  border-radius: 10px; 
}
#login .login-card .card-title h1 {
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
}
#login .login-card .content {
  padding: 3rem 2.5rem 5rem;
}

#login .login-card #password,
#login .login-card #fname,
#login .login-card #lname,
#login .login-card #username {
  display: block;
  width: 100%;
  font-size: 1rem;
  margin-bottom: 1.75rem;
  padding: 0.25rem 0;
  border: none;
  border-bottom: 1px solid #dbdbdb;
  transition: all .5s;
}
#login .login-card #username:hover, 
#login .login-card #password:hover,
#login .login-card #fname:hover,
#login .login-card #lname:hover {
  border-color: #7a7a7a;
}
#login .login-card #username:active, 
#login .login-card #username:focus, 
#login .login-card #password:active, 
#login .login-card #password:focus,
#login .login-card #fname:active, 
#login .login-card #fname:focus,
#login .login-card #lname:active, 
#login .login-card #lname:focus {
  border-color: #29ABE2;
}
#login .login-card .checkbox {
  color: #b5b5b5;
  font-size: 0.8rem;
}
#login .login-card .checkbox span {
  margin-left: 0.5rem;
}
#login .login-card a {
  font-size: 0.8rem;
}
#login .login-card .options {
  color: #b5b5b5;
  margin-bottom: 1.5rem;
}
#login .login-card button {
  cursor: pointer;
  font-size: 1.2rem;
  color: #29ABE2;
  border-radius: .5rem;
  display: block;
  width: 100%;
  background: transparent;
  border: 2px solid #29ABE2;
  padding: 0.3rem 0 .3rem;
  transition: color .5s, border-color .5s;
}
#login .login-card button:hover, #login .login-card button:focus {
  color: #29ABE2;
  border-color: #29ABE2;
}
#login .login-card button:active {
  transform: translateY(1px);
}

label {
  cursor: pointer;
}

.regular-checkbox {
  display: none;
}

.regular-checkbox + label {
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  box-shadow: 0 1px 2px #29ABE2;
  padding: 7px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}

.regular-checkbox:checked + label {
  background-color: #e9ecee;
}

.regular-checkbox:checked + label:after {
  content: '\2714';
  font-size: 11px;
  position: absolute;
  top: 0;
  left: 3px;
  color: #b5b5b5;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

#header {
  height: 65px;
  text-emphasis: emp;
}

.level-item {
  vertical-align: middle;
}

.title {
  font-size: 50pt;
}

#links {
  margin: 15px;
}

.hero {
  background-color: #29ABE2;
}

#homebutton{
  background-color: #29ABE2;
  color: #29ABE2;
}
